@import "_variables.scss";
@import "_reset.scss";



// navbar styling
.navbar {
    background-color: transparent;
    display: flex;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: $navbar-height;
    justify-content: space-around;
    align-items: center;

    
    &__logo {
        border-radius: 20px;
        color: $black;
        background-color: $white;
        font-weight: bold;
        padding: 2px 5px;
    }
    
    
    @at-root {
        &__links-btn, .links__header {
            display: none;
        }
        
        &__links {
            display: flex;

            .navbar__link {
                color: $white;
                margin-right: 10px;
                transition: .25s ease-in-out;
                cursor: pointer;


                &:hover {
                    color: $dark-gray;
                    transition: .25s ease-in-out;
                }
            }
        }
        
        &__dropdown {
            position: relative;
            .dropdown__label {
                cursor: pointer;
            }
            .dropdown__label::after {
                font-family: "Material Icons";
                content: "expand_more";
                position: relative;
                top: 2.5px;
                transition: .25s ease-in-out;
            }

            &:hover > {
                .dropdown__links {
                    visibility: visible;
                    opacity: 1;
                }
            }

            .dropdown__links {
                background-color: $white;
                display: flex;
                flex-flow: nowrap column;
                position: absolute;
                width: max-content;
                opacity: 0;
                visibility: hidden;
                overflow: hidden;
                background-color: $white;
                transition: .25s ease-in-out;
                border-radius: 5px;
                margin-top: 5px;
        
                .dropdown__link {
                    color: $black;
                    padding: 5px 10px;
        
                    &:hover {
                        background-color: $light-gray;
                    }
                }
            }
        }
    
        &__btns {
            display: flex;
    
            .navbar__btn {
                color: $white;
                margin-right: 10px;
            }
        }
    }
}










// intro styling
.intro {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 600px;
    position: relative;
    background: $dark-gray url(/images/backgrounds/shopping-girl.jpg) center top / cover no-repeat;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: .65;
    }

    &__text-wrapper {
        color: $white;
        z-index: 1;
        margin-left: 20px;
    }

    &__title {
        font-size: xxx-large;
        padding-left: 1.5rem;
        margin-bottom: 4rem;
        border-left: .2rem solid $white;
    }
    
    &__paragraph {
        font-size: x-large;
        font-weight: thin;
        text-align: center;
    }
}










@media screen and (max-width: 600px) {
    // responsive navbar
    .navbar {
        justify-content: space-between;
        padding: 0 10px;

        &__logo {
            display: none;
        }

        @at-root {
            .links__header {
                display: flex;
                justify-content: end;
                padding: 5px;
            }

            &__links-btn {
                display: inline-block;
                border: none;
                background-color: transparent;
                font-size: 2.5rem;
                cursor: pointer;
                color: $white;

                &[for=closing-radio] {
                    color: $black;
                }
            }

            #opening-radio:checked ~ .navbar__links {
                    left: 0;
            }
                
            &__links {
                position: fixed;
                top: 0;
                left: -1000px;
                background-color: $white;
                width: clamp(200px, 50vw, 100vw);
                flex-flow: column;
                height: 100vh;
                transition: .5s ease-in-out;
                
                .navbar__link {
                    margin: 0;
                    
                    &:not(.navbar__dropdown) {
                        padding: 10px;
                        color: $black;
                    }
                    
                    &:hover {
                        cursor: pointer;
                        background-color: $light-gray;
                    }
                }

                
            }

            &__dropdown {
                position: relative;

                .dropdown__label {
                    display: block;
                    cursor: pointer;
                    position: relative;
                    padding: 10px;
                    color: $black;

                    &::after {
                        color: $black;
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        pointer-events: none;
                    }
                }
                
                #dropdown-toggle:checked {

                    & ~ .dropdown__label {
                        background-color: $light-gray;

                        &::after {
                            content: "expand_less";
                        }
                    }

                    & ~ .dropdown__links {
                        max-height: 100vh;
                    }
                }

                .dropdown__links {
                    margin: 0;
                    opacity: 1;
                    visibility: visible;
                    position: relative;
                    border-radius: 0;
                    max-height: 0px;
                    width: 100%;
                    transition: .5s ease-in-out;

                    .dropdown__link {
                        padding: 10px;
                        text-indent: 20px;
                        transition: .25s ease-in-out;
                    }
                }
            }
        }
    }









    
    // intro section
    .intro {
        justify-content: center;

        &__text-wrapper {
            margin: 0;
        }

        &__title {
            font-size: xx-large;
            padding-left: 1rem;
            margin-bottom: 1.5rem;
        }

        &__paragraph {
            font-size: medium;
        }
        
    }
}