// color variables :
$black : #090808;
$white: #f8f8f8;
$light-red: #fd3333;
$dark-red: #c80000;
$light-green : #4fce53;
$dark-green: #39AA3E;
$light-blue: #098cf8;
$dark-blue: #0d61a6;
$light-yellow: #ffec41;
$dark-yellow: #f2df2a;
$light-gray: #f0f0f0;
$dark-gray: #9d9d9d;




// defining placeholders:
%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* these .hidden-scrollbar are making scrollbar hidden but still work */
%hidden-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    &::-webkit-scrollbar{
        display: none;
        width: 0 !important;
    }
}